<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">

{% include head.html %}

<header class="hover smooth">
  {% unless site.show_minimal and site.navigation and site.external %}
    <h1 {% if site.navigation and site.external %}class="full"{% endif %}><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
  {% endunless %}
  {% include menu.html menu=site.navigation %}
  {% include menu.html menu=site.external %}
</header>

{{ content }}

<footer class="hover">

<hr>

<p align="center">
  <a href="https://github.com/shubham-econ" target="_blank">GitHub</a>
  ·
  <a href="https://www.linkedin.com/in/shubham-bhandare-316443234" target="_blank">LinkedIn</a>
  ·
  <a href="https://x.com/shubham_b02" target="_blank">X</a>
</p>

<p align="center">
  © 2026 Shubham Bhandare
</p>

</footer>
</html>
